@charset "UTF-8";
.memberInfo {
    width: fit-content;
    margin: 50px auto;
    padding: 20px;
    text-align: left;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table th, table td {
    padding: 10px 15px;
    border: 1px solid #ccc;
}

table th {
    background-color: #f8f8f8;
}

a {
    text-decoration: none;
    color: #ff5a5f;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
