	@charset "UTF-8";
	body {
	    background-color: #f9f9f9;
	}
	h2{
		margin: 0 auto; 
		text-align: center;
		padding:25px
	}
	.notice-wrapper {
	    max-width: 1000px;
	    margin: 0 auto;
	    padding: 20px;
	    background-color: white;
	    border-radius: 16px;
	    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
	} 
	
	.notice-table {
	    width: 100%;
	    border-collapse: collapse;
	    font-size: 14px;
	    border-radius: 12px;
	    overflow: hidden;
	}
	
	.notice-table th {
	    background-color: #f2f2f2;
	    font-weight: bold;
	    padding: 12px;
	    border-bottom: 1px solid #ddd;
	    text-align: center;
	}
	
	.notice-table td {
	    padding: 12px;
	    text-align: center;
	    border-bottom: 1px solid #eee;
	}
	
	.notice-table tr:hover {
	    background-color: #fdf4ec;
	}
	
	.notice-table a {
	    color: #3333cc;
	    text-decoration: none;
	    font-weight: 500;
	}
	.notice-table a:hover {
	    text-decoration: underline;
	}
	
	.write-btn {
	    background-color: #ff5a5f;
	    color: white;
	    border: none;
	    padding: 10px 18px;
	    border-radius: 8px;
	    font-size: 14px;
	    cursor: pointer;
	    text-align: right;
	}
	.write-btn:hover {
	    background-color: #ff3035;
	    
	}
	
	.pagination {
	    text-align: center;
	    margin: 30px 0 50px 0;
	    padding-top: 30px; 
	}
	
	.pagination a {
	    display: inline-block;
	    margin: 0 8px;
	    color: #444;
	    padding: 6px 12px;
	    border-radius: 6px;
	    background-color: #eee;
	    text-decoration: none;
	}
	
	.pagination a:hover {
	    background-color: #ddd;
	}
	
	.pagination .current-page {
	    background-color: #ff5a5f;
	    color: #fff;
	    font-weight: bold;
	    padding: 6px 12px;
	    border-radius: 6px;
}
	
	.notice-header {
	    display: flex;
	    justify-content: flex-end;
	    margin-bottom: 12px;
	}