@charset "UTF-8";


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f9f9f9;
    font-size: 18px; /* 기존보다 크게 */
    color: #333;
    line-height: 1.7;
    display: flex;
    flex-direction: column; /* 추가 */
    
}

/*콘텐츠를 감싸는 박스*/
.container {
    max: 1400px; 	/* 기존 600px → 더 넓게 */
    width: 100%;        /* 반응형: 화면에 맞게 90% */
    background-color: white;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}


/*헤더 제목*/
header h1 {
    color: #8B2E2E;
    font-size: 36px;
    margin-bottom: 10px;
}

/* 예약 확인 박스 스타일 개선 */
.confirmation-box {
    background-color: #f1f8f5;
    border: 1px solid #cce5dc;
    border-radius: 10px;
    padding: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.confirmation-box h2 {
    color: #4CAF50;
    font-size: 24px;
    margin-bottom: 20px;
}


/*확인 메세지 본문*/
.confirmation-box p {
  font-size: 1.1em;
  margin: 10px 0;
}

/* /*버튼 스타일 */ */
/* button { */
/*   margin: 40px 0 0 0;  */
/*   padding: 12px 24px; */
/*   font-size: 1em; */
/*   background-color: #bf360c; */
/*   color: white; */
/*   border: none; */
/*   border-radius: 10px; */
/*   cursor: pointer; */
/*   transition: background-color 0.3s ease; */
/* } */


/* 예약 정보만 왼쪽 정렬 */
.info {
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}

button:hover {
  background-color: #a72e05;
}

button {
    margin-top: 2rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: #bf360c;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a72e05;
}


footer {
    margin-top: auto;
}
