@charset "UTF-8";

/* reviewinsert.css */

* {
  box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
/*     padding: 20px; */
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

form {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 15px;
    border: none;
    vertical-align: top;
}

select[name="reviewStars"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="file"] {
    width: 100%;
    font-size: 16px;
    padding: 8px;
    background-color: #f1f1f1;
    border: 1px dashed #ccc;
    border-radius: 5px;
    cursor: pointer;
}

textarea {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    resize: vertical;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fcfcfc;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: rgb(255, 128, 128);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
