@charset "UTF-8";
	
	body {
	    background-color: #f9f9f9;
	}

	h2{
		margin: 0 auto; 
		text-align: center;
		padding:25px
	}
	
	.userlist-table{
		width: 100%;
	    border-collapse: collapse;
	    font-size: 14px;
	    border-radius: 12px;
	    overflow: hidden;	
	    margin-bottom:200px;
	}
	
	.userlist-table th {
	    background-color: #f2f2f2;
	    font-weight: bold;
	    padding: 12px;
	    border-bottom: 1px solid #ddd;
	    text-align: center;
	}
		
	.userlist-table td{
		padding: 12px;
	    text-align: center;
	    border-bottom: 1px solid #eee;
	}
	
	.userlist-table tr:hover {
	    background-color: #fdf4ec;
	}
	
	.pagination {
	    text-align: center;
	    margin: 30px 0 50px 0;
	}
	
	.pagination a {
	    display: inline-block;
	    margin: 0 8px;
	    color: #444;
	    padding: 6px 12px;
	    border-radius: 6px;
	    background-color: #eee;
	    text-decoration: none;
	}
	
	.pagination a:hover {
	    background-color: #ddd;
	}
	
	.pagination .current-page {
	    background-color: #ff5a5f;
	    color: #fff;
	    font-weight: bold;
	    padding: 6px 12px;
	    border-radius: 6px;
	}
	